fastapi
uvicorn
pydantic
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
sentence-transformers
pypdf
langchain-chroma
bcrypt
python-multipart
faster-whisper
torch
torchaudio
soundfile
scipy
omegaconf
langchain-ollama
